// AcID Polymer Test
//
// Page styles

body {
  background: #eaeaea;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

h1 {
  font-size: 2em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

pre {
  margin: 1.6em 0 .8em;
}

.main {
  max-width: 960px;
  margin: 0 auto 2em;
}
