// AcID Carousel
//
// Main styles for the test Polymer carousel

@import "css/acid-carousel-transitions";

:host {
  position: relative;
  display: block;
  min-width: 300px;
  max-width: 860px;
  width: 100%;
  overflow: hidden;
}

core-pages {
  padding-bottom: 50%;

  &.anim-fallback {
    ::content > img {
      visibility: visible;
    }
  }

  ::content > img {
    width: 100%;
    height: auto;
  }
}

$naviOffset: 4.6%;
.navigation {
  position: absolute;
  bottom: $naviOffset * 2;
  width: 100%;
  height: 30px;

  text-align: center;

  .arrow {
    position: absolute;
    opacity: .5;
    outline: 0;

    &:hover { opacity: 1; }

    &-left  { left: $naviOffset; }
    &-right { right: $naviOffset; }
  }

  .bullets {
    margin: 0;
    padding: 12px 0 0 0;

    list-style: none;

    > li {
      display: inline-block;
      margin: 0 2px;
    }
  }

  .bullet {
    width: 10px;
    height: 10px;
    padding: 0;
    border: 1px solid #fff;

    opacity: .8;
    outline: 0;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 100%;
    cursor: pointer;

    &.active {
      background: #fff;
    }
  }
}

.progress {
  position: absolute;
  top: 0;
  height: 4px;

  background-color: rgba(255, 255, 255, .65);
  box-shadow: 0 1px 5px rgba(80, 80, 80, .1);
}
